<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]="form" (ngSubmit)="outputForm()">
        <div class="form-group">
          <label for="name">Project Name</label>
          <input type="text" id="name" class="form-control" aria-describedby="error-name" formControlName="name">
          <div id="error-name" class="help-block" role="alert" *ngIf=" form.get('name').invalid && form.get('name').touched ">
            <!-- <span *ngIf=" form.get('name').errors['required']"> Required input </span> -->
            <!-- this way is so much better don't user stupid get() function -->
            <span *ngIf=" form.controls.name.errors.required"> Required input </span>
            <!-- <span *ngIf=" form.get('name').errors['forbiddenProjectName']"> Forbidden Name </span> -->
            <!-- this way is so much better don't user stupid get() function -->
            <span *ngIf=" form.controls.name.errors.forbiddenProjectName"> Forbidden Name </span>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control" aria-describedby="error-email" formControlName="email">
          <div id="error-email" class="help-block" role="alert" *ngIf=" form.get('email').invalid && form.get('email').touched ">
            <span *ngIf=" form.get('email').errors['required'] ">Required input</span>
            <span *ngIf=" form.get('email').errors['forbiddenEmail'] ">Fobidden, dude</span>
          </div>          
        </div>
        <div class="form-group">
          <label for="dropdown">Project Status</label>
          <select id="dropdown" class="form-control" aria-describedby="error-dropdown" formControlName="dropdown">
            <option *ngFor="let s of statuses" value="{{s.value}}">{{s.display}}</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="Submit" [disabled]=" form.invalid">Submit</button>
          <button class="btn btn-secondary" (click)="outputForm()">debug</button>
        </div>
      </form>
    </div>
  </div>
</div>
